<?xml version="1.0"?>
<!--
/**
 * Ffuenf_Backup extension
 *
 * NOTICE OF LICENSE
 *
 * This source file is subject to the MIT License
 * that is bundled with this package in the file LICENSE.txt.
 * It is also available through the world-wide-web at this URL:
 * http://opensource.org/licenses/mit-license.php
 *
 * @category   Ffuenf
 *
 * @author     Achim Rosenhagen <a.rosenhagen@ffuenf.de>
 * @copyright  Copyright (c) 2016 ffuenf (http://www.ffuenf.de)
 * @license    http://opensource.org/licenses/mit-license.php MIT License
*/
-->
<config>
    <modules>
        <Ffuenf_Canonical>
            <version>1.1.1</version>
        </Ffuenf_Canonical>
    </modules>
    <global>
        <helpers>
            <ffuenf_canonical>
                <class>Ffuenf_Canonical_Helper</class>
            </ffuenf_canonical>
        </helpers>
        <blocks>
            <ffuenf_canonical>
                <class>Ffuenf_Canonical_Block</class>
            </ffuenf_canonical>
        </blocks>
        <resources>
            <ffuenf_canonical_setup>
                <setup>
                    <module>Ffuenf_Canonical</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </ffuenf_canonical_setup>
        </resources>
    </global>
    <frontend>
        <layout>
            <updates>
                <ffuenf_canonical>
                    <file>ffuenf_canonical.xml</file>
                </ffuenf_canonical>
            </updates>
        </layout>
    </frontend>
    <adminhtml>
        <layout>
            <updates>
                <ffuenf_canonical>
                    <file>ffuenf_canonical.xml</file>
                </ffuenf_canonical>
            </updates>
        </layout>
    </adminhtml>
    <default>
        <ffuenf_canonical>
            <general>
                <enable>0</enable>
            </general>
        </ffuenf_canonical>
    </default>
    <uninstall>
        <filename>uninstall.txt</filename>
    </uninstall>
    <phpunit>
        <suite>
            <modules>
                <Ffuenf_Canonical/>
            </modules>
        </suite>
    </phpunit>
</config>